@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;

  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgb(92, 83, 83);
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
